@model AdamsHospitalFrontEnd2.Models.AppointmentsVM
@{
    ViewData["Title"] = "Apointment Application";
}

<div class="row mt-5 pt-5 min-vn-100">

    <div class="col-md-6 offset-md-3">

        <h4 style="color:white;"> Doctors' Appointment Application Form </h4>

        <form asp-action="GetById" enctype="multipart/form-data">
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="row mt-2">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-success w-100" />
                    </div>
                </div> 

                <div class="col-md-6">
                    <div>
                        <a asp-action="Index" class="btn btn-secondary w-100">View All</a>
                    </div>
                </div>

            </div>
            
        </form>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 
